version: '3.8'  
services:
  web:
    build: . 
    ports:
      - "5005:5000"  
      - FLASK_ENV=development  
    depends_on:
      - db  
  db:
    image: postgres:latest  
    environment:
      POSTGRES_USER: user  
      POSTGRES_PASSWORD: password  
      POSTGRES_DB: mydatabase  
    ports:
      - "5432:5432" 